<!DOCTYPE html>
<html>
  <head>

  <title>{{ page.title }}</title>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map-canvas { height: 100% }
    </style>

    <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCR9o0Z3HjhTIweBdThZcwfUCNmm-kYz_o&sensor=false">
    </script>

    <script type="text/javascript" src="/js/underscore-min.js"> </script>
    <script type="text/javascript" src="/js/bootstrap-tooltip.js"> </script>
    <script type="text/javascript" src="/js/typeahead.js"> </script>
    <script type="text/javascript" src="/js/meta.js"> </script>
    <script type="text/javascript" src="/js/app.js"> </script>

    <link rel="stylesheet" href="/css/examples.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">

  </head>
  <body>
    {{ content }}
  </body>
</html>
